<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>money</key>
		<string>9</string>
		<key>name</key>
		<string>五粮液股份A级佳宾级小酒版125ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>money</key>
		<string>79</string>
		<key>name</key>
		<string>52°五岭洞藏黑金刚1500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>money</key>
		<string>1580</string>
		<key>name</key>
		<string>53°国台·品鉴15 500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>money</key>
		<string>99</string>
		<key>name</key>
		<string>周末活动 53°汾酒集团青瓷一坛香1500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>money</key>
		<string>43</string>
		<key>name</key>
		<string>53°玻瓶汾酒475ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6.jpg</string>
		<key>money</key>
		<string>39</string>
		<key>name</key>
		<string>52°酒鬼湘泉老坛500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7.jpg</string>
		<key>money</key>
		<string>59</string>
		<key>name</key>
		<string>【清仓】53°茅台集团国隆酱酒500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8.jpg</string>
		<key>money</key>
		<string>158</string>
		<key>name</key>
		<string>53°茅台王子酒500ml品质好酒，低价抢</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9.jpg</string>
		<key>money</key>
		<string>49</string>
		<key>name</key>
		<string>【老酒特卖】【清仓】45°西凤金窖500ml(2012-2013年）</string>
	</dict>
	<dict>
		<key>image</key>
		<string>10.jpg</string>
		<key>money</key>
		<string>99</string>
		<key>name</key>
		<string>52°白水杜康一坛老酒1000ml（双坛装）</string>
	</dict>
	<dict>
		<key>image</key>
		<string>11.jpg</string>
		<key>money</key>
		<string>49</string>
		<key>name</key>
		<string>43°白金酒酱香（红酱A3）250ml（双瓶装）</string>
	</dict>
	<dict>
		<key>image</key>
		<string>12.jpg</string>
		<key>money</key>
		<string>388</string>
		<key>name</key>
		<string>52°剑南春500ml+52°五粮液（股份）恭喜发财500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>13.jpg</string>
		<key>money</key>
		<string>999</string>
		<key>name</key>
		<string>52°五粮液 普五500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>14.jpg</string>
		<key>money</key>
		<string>359</string>
		<key>name</key>
		<string>52°水井坊臻酿八号500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>15.jpg</string>
		<key>money</key>
		<string>88</string>
		<key>name</key>
		<string>45°洋河蓝色经典梦之蓝M1 100ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>16.jpg</string>
		<key>money</key>
		<string>89</string>
		<key>name</key>
		<string>38°茅台集团贵州囍酒500ml（2003-2004年）</string>
	</dict>
	<dict>
		<key>image</key>
		<string>17.jpg</string>
		<key>money</key>
		<string>149</string>
		<key>name</key>
		<string>52°五粮液五粮印象500ml系出名门 五粮液股份出品 五粮印象 幸福</string>
	</dict>
	<dict>
		<key>image</key>
		<string>18.jpg</string>
		<key>money</key>
		<string>135</string>
		<key>name</key>
		<string>42°洋河蓝色经典海之蓝 480ml洋河蓝色经典，男人的情怀！</string>
	</dict>
	<dict>
		<key>image</key>
		<string>19.jpg</string>
		<key>money</key>
		<string>38</string>
		<key>name</key>
		<string>45°出口竹叶青500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>20.jpg</string>
		<key>money</key>
		<string>509</string>
		<key>name</key>
		<string>【爆品特卖】52°洋河蓝色经典梦之蓝M3 500ml</string>
	</dict>
	<dict>
		<key>image</key>
		<string>21.jpg</string>
		<key>money</key>
		<string>458</string>
		<key>name</key>
		<string>【香型盛典】53°郎酒·红花郎十（10）500ml经典酱香，十年红花郎酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>22.jpg</string>
		<key>money</key>
		<string>167</string>
		<key>name</key>
		<string>42°牛栏山陈酿整箱装500ml*12瓶装</string>
	</dict>
	<dict>
		<key>image</key>
		<string>23.jpg</string>
		<key>money</key>
		<string>108</string>
		<key>name</key>
		<string>48°西凤大曲500ml(2003年—2005年)</string>
	</dict>
</array>
</plist>
